* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: .6s;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: brown;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 30px rgba(20, 0, 0, 0.356);
}

img {
    width: 100%;
}

.menu-hamburguer {
    display: none;
    flex-direction: column;
}

#logo {
    max-width: 50px;
    cursor: pointer;
}

#logo:hover {
    transform: scale(1.1);
}

.lista-menu {
    max-width: 700px;
}       

.lista-menu a {
    color: #fff;
    font-size: 15px;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .9s all;
}

.lista-menu a:hover {
    font-size: 19px;
}

.menu-hamburguer a {
    color: #fff;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;
}

.menu-hamburguer a:hover {
    background-color: #fff;
    color: brown;
}

    #ico-menu, #ico-fechar {
    display: none;
} 

.banner-top {
    padding-top: 200px;
    background-image: url("img/banner.png");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
}

#ico-trabalho {
    max-width: 65px;
    margin: 35px auto 0 auto;
    display: block;
}

#h2-portifolio {
    margin-top: 20px;
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    color: brown;
}

.linha-brown {
    width: 70px;
    height: 3px;
    margin: 20px auto;
    background-color: rgba(165, 42, 42, 0.534);
}

.variedades {
    max-width: 600px;
    margin: 40px auto 0 auto;
    display: flex; 
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 120px;
    flex-wrap: wrap;
}

.variedades a {
    /* display: inline-block; */
    min-width: 110px;
    text-align: center;
    color: rgba(0, 0, 0, 0.795);
    padding: 15px;
    transition: 1s all;
}

.variedades a:hover {
    color: brown;
    border-bottom: 1px solid brown;
}

.flex-eventos {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 20px auto 60px auto;
}

.eventos {
    margin: 0 auto;
    max-width: 350px;
    padding: 2px;
    flex: 1 1 300px;
}

.container-eventos {
    max-width: 350px;
}

.container-eventos {
    color: black;
}

.a-eventos {
    background-color: black;
}

#p-eventos {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.623);
}

.container-eventos:hover {
    filter: brightness(50%);
    color: brown;
    border-bottom: 1px solid brown;
}

.background-eventos {
    background-image: url("img/foto-teste.jpg");
    max-width: 350px;
    height: 250px;
    background-position: center top;
    background-size: cover;
}

.background-eventos-2 {
    background-image: url("img/foto-2-teste.jpg");
    max-width: 350px;
    height: 250px;
    background-position: center top;
    background-size: cover;
}

.container-eventos p {
    margin-top: 7px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.sobre {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.apresentacao {
    max-width: 450px;
    margin: 0 auto;
}

.apresentacao h1 {
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
}

.apresentacao p {
    margin-top: 40px;
    font-size: 19px;
}

#junior-img {
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

#casa-logo {
    display: block;
    margin: 0 auto;
    max-width: 65px;
}

main {
    height: 2000px;
}

@media(max-width: 500px) {
    
    header {
        display: block;
        padding: 0;
    }

    #logo {
        padding: 10px;
    }

    .lista-menu {
        display: none;
    }

    #ico-menu, #ico-fechar {
        max-width: 35px;
        float: right;
        padding: 15px;
    }

    #ico-menu {
        display: block;
    }

    #ico-menu:hover, #ico-fechar:hover {
        transform: scale(1.1);
    }
}