* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: .5s;
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.wpp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 10px;
    background-color: #25b366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
    
}

.wpp-link:hover {
    transform: scale(1.04);
}

.fa-whatsapp {
    color: #fff;
    margin-top: 9px;
}

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #dfceb8;
    /* background-color: #613402; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 30px rgba(20, 0, 0, 0.356);
}

.header-width {
    width: 100%;
    height: 65px;
}

img {
    width: 100%;
}

.menu-hamburguer {
    display: none;
    flex-direction: column;
}

#logo {
    max-width: 160px;
    cursor: pointer;
}

#logo:hover {
    transform: scale(1.1);
}

.lista-menu {
    max-width: 700px;
}       

.lista-menu a {
    color: black;
    font-size: 15px;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .9s all;
}

.lista-menu a:hover {
    font-size: 19px;
}

.menu-hamburguer a {
    color: black;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;
}

.menu-hamburguer a:hover {
    background-color: black;
    color: #dfceb8;
}

    #ico-menu, #ico-fechar {
    display: none;
} 

.banner-top {
    background-size: cover;
    padding-top: 200px;
    background-image: url("img/junior-banner-desktop.jpg");
    height: 80vh;
    background-position: center top;
    background-repeat: no-repeat;
}

#ico-trabalho {
    max-width: 65px;
    margin: 35px auto 0 auto;
    display: block;
}

#h2-portifolio {
    margin-top: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #dfceb8;
}

.linha-brown {
    width: 70px;
    height: 3px;
    margin: 20px auto;
    background-color: #dfceb8;
}

.variedades {
    max-width: 600px;
    margin: 40px auto 0 auto;
    display: flex; 
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 35px;
    flex-wrap: wrap;
}

.variedades a {
    /* display: inline-block; */
    min-width: 110px;
    text-align: center;
    color: #dfceb8;
    padding: 5px;
    transition: 1s all;
}

.variedades a:hover {
    text-decoration: underline;
} 

.flex-eventos {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 10px auto 60px auto;
}

.eventos {
    margin: 0 auto;
    max-width: 350px;
    padding: 2px;
    flex: 1 1 300px;
}

.container-eventos {
    max-width: 350px;
}

.container-eventos {
    color: black;
}

.a-eventos {
    background-color: black;
}

#p-eventos {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: #dfceb8;
}

.container-eventos:hover {
    filter: brightness(50%);
    color: #dfceb8;
    border-bottom: 1px solid #dfceb8;
}

.background-eventos {
    background-image: url("img/foto-teste.jpg");
    max-width: 350px;
    height: 250px;
    background-position: center top;
    background-size: cover;
}

.background-eventos-2 {
    background-image: url("img/foto-2-teste.jpg");
    max-width: 350px;
    height: 250px;
    background-position: center top;
    background-size: cover;
}

.container-eventos p {
    color: #dfceb8;
    margin-top: 7px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.sobre {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 30px;
}

.apresentacao {
    max-width: 450px;
    margin: 0 auto;
}

.apresentacao h1 {
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #dfceb8;
}

.apresentacao p {
    line-height: 30px;
    margin-top: 40px;
    font-size: 19px;
    text-align: justify;
    color: #dfceb8;
}

#junior-img {
    max-width: 450px;
    display: block;
    margin: 0 auto;
    box-shadow: 1px 1px 10px #dfceb8;
    border-radius: 5px;
}

#casa-logo {
    display: block;
    margin: 0 auto;
    max-width: 65px;
}

#orcamento {
    display: block;
    margin: 50px auto 0 auto;
    max-width: 65px;
    padding: 10px;
}

.formulario h2 {
    padding-top: 45px;
    font-size: 35px;
    color: #fff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.linha-orcamento {
    width: 70px;
    height: 3px;
    margin: 20px auto;
    background-color: #fff;
}

.formulario {
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: right 35% bottom 45%; */
    background-position: center;
    background-size: cover;
    background-image: url("img/banner-formulario.png");
}

.formulario form {
    max-width: 800px;
    margin: 40px auto 0 auto;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

button {
    display: block;
    margin: 0 auto;
    min-height: 40px;
    width: 100%;    
    margin-top: 25px;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    border: none;
    box-shadow: 1px 2px 8px #fff;
}

button:hover {
    transform: scale(1.01);
}

select {
    display: block;
    margin: 0 auto;
    min-height: 45px;
    width: 100%;
    color: rgba(0, 0, 0, 0.418);
    margin-top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
    display: block;
    min-height: 35px;
}

#mensagem {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25px;
    padding: 5px;
    text-align: initial;
    min-height: 135px;
}

main {
    padding: 10px;
}

h2, h1 {
    text-shadow: 1px 2px 10px #fff;
}

.produto-1 {
    border-radius: 30px 2px ;
    margin: 100px auto 0 auto;
    background-image: url("img/produto-1.png");
    width: 250px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 1px 2px 10px #ffffffa6;
}

.estilo-rage {
    background-color: #fff;
    border-radius: 20px 2px;
}

#range {
    width: 90%;
    margin: 0 auto;
}

.effect {
    filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.342);
    background-size: cover;
    width: 50%;
    right: 0;
    position: absolute;
    height: 100%;
}

#dv-effect {
    height: 310px;
}

.container-produto-1 p {
    margin-top: 20px;
    color: #fff;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#comprar-presets {
    display: block;
    background-color: #fff;
    max-width: 200px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
    border-radius: 30px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 1px 2px 10px #ffffff86;
    margin: 15px auto;
}

#comprar-presets:hover {
    transform: scale(1.02);
}

@media(max-width: 500px) {
    
    header {
        display: block;
        padding: 0;
    }

    #logo {
        padding: 10px;
    }

    .lista-menu {
        display: none;
    }

    #ico-menu, #ico-fechar {
        max-width: 40px;
        float: right;
        padding: 15px;
    }

    #ico-menu {
        display: block;
    }

    #ico-menu:hover, #ico-fechar:hover {
        transform: scale(1.1);
    }

    .banner-top {
        background-image: url("img/junior-banner-mobile.jpg");
        background-position: center;
        height: 60vh;
    }
}